<!DOCTYPE html>
<html lang="utf-8">
<head>
    <meta charset="UTF-8">
    <title>Buy Book</title>
</head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='buybook.css') }}">
<body>
   <div class="main">
      <table>
        <thead>
            <tr style="text-align: center;">
                <th>Source</th>
                <th>Title</th>
                <th>Price</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
         {% for item in table %}
            <tr>
               <td> {{ item["source"] }} </td>
               <td class="title">
                   <a href="{{ item['blink']}}" target="_blank" rel="noopener noreferrer"> {{ item["title"] }} </a>
               </td>
               <td class="price"> {{ item["price"] }} </td>
               <td class="desc"> {{ item["desc"] }} </td>
            </tr>
         {% endfor %}
        </tbody>
      </table>
    </div>
</body>
</html>